.weather-container {
	border-radius: 8px;
	text-align: center;
	border: 1px solid #e5e5e5;
	padding: 12px;
	position: absolute;
	width: 260px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
